@import 'tailwindcss';

@layer components {
  .dev-button {
    @apply px-4 py-2 bg-blue-600 text-white rounded-lg cursor-pointer 
      hover:outline-2 hover:bg-blue-700 hover:scale-108 transition-transform duration-200;
  }
}
