@import 'tailwindcss';

@layer components {
  .brain-label {
    @apply text-amber-600 text-center text-3xl font-extrabold mb-6;
  }
  
  .brain-desc {
    @apply text-center text-lg;
  }

  .brain-selected {
    @apply font-bold border-2 border-amber-600 outline-2 outline-amber-600;
  }

  .hint-button {
    @apply border border-white hover:outline-3 hover:font-bold cursor-pointer p-2;
  }

  .spinner {
    width: 32px;
    height: 32px;
    border: 4px solid #ffffff44;
    border-top-color: #fff;
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
  }
}