@import 'tailwindcss';

@layer components {
  .inventory-item-cell {
    @apply border border-white p-1 px-3 hover:outline-3 hover:font-bold cursor-pointer m-0;
  }

  .inventory-item-cell-selected {
    @apply outline-3 border-white p-1 px-3 font-bold cursor-pointer m-0;
  }

  .inventory-item-cell-disabled {
    @apply border border-gray-500 p-4;
  }

  .inventory-items {
    @apply flex flex-col border border-gray-500 -translate-x-2 -translate-y-5 gap-0;
  }
} 