@import 'tailwindcss';

@layer components {
  .trade-label {
    @apply text-amber-600 text-center text-3xl font-extrabold mb-6;
  }

  .info {
    background: rgba(0, 0, 0, 0.4);
    @apply text-white border-[#87afff]
  }

  .offer-box {
    background: rgba(0, 0, 0, 0.4);
    @apply text-white border-amber-600;
  }

  .accept-button, .reject-button {
    @apply text-lg cursor-pointer;
  }
}